@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html {
  background: black;
}

:root {
  --blueBackground: radial-gradient(
    circle,
    rgba(1, 110, 191, 1) 0%,
    rgba(0, 0, 0, 1) 200%
  );
  --purpleBackground: radial-gradient(
    circle,
    rgba(133, 0, 250, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

* {
  font-family: "Source Sans 3";
  font-weight: 600;
  box-sizing: border-box;
}

.backgroundHexagons {
  background-image: url("../assets/pattern.svg");
  background-repeat: repeat;
  background-size: 30px 60px;
  opacity: 0.2;
  background-position: center;
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.backgroundGlow {
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  background: radial-gradient(circle, transparent 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
}

#pageBackground {
  background: var(--blueBackground);
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  z-index: 0;
}

body {
  background: black !important;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 3vh 2vw;
}

#root {
  position: relative;
  z-index: 2;
  width: 100%;
}

nav.navbar {
  z-index: 3;
}

#mainGame {
  padding: 1rem
}

@media (max-width: 600px) {
  body {
    padding: 1vh 1vw;
  }
  .fs-3 {
    font-size: 1.2rem;
  }
  /* Add more responsive rules as needed for your components */
}
