.container:not(.guess) {
  background-color: white;
  border: 4px outset;
  outline: 2px solid;
  width: max-content !important;
  border-radius: 8px;
}

.container.brown {
  background-color: #9e7842;
  outline-color: #a5814f;
  border-color: #cfad82;
}

.container.blue {
  background: linear-gradient(
    180deg,
    rgba(105, 156, 219, 1) 0%,
    rgba(76, 129, 208, 1) 100%
  );
  border: 2px solid #699dda !important;
  outline: 2px solid #525c71;
  color: white;
}

#titleContainer > span,
#titleContainer > span * {
  font-family: "Luckiest Guy";
  font-size: 48px;
  font-weight: 400;
  color: white;
  -webkit-text-stroke: 1px black;
}

#titleContainer > span > span:nth-child(1) {
  color: #00c5f4;
}

#titleContainer > span > span:nth-child(2) {
  color: #ffa108;
}

#titleContainer > span > span:nth-child(3) {
  color: #ff3800;
}

.resetHolder {
  background-color: rgb(0, 0, 0, 0.2);
  color: white;
  width: 128px;
  height: max-content;
  font-size: 20px;
  line-height: 24px;
  border-radius: 8px;
}

#expandMenu {
  display: none;
}

@media (max-width: 600px) {
  #titleContainer > span,
  #titleContainer > span * {
    display: none;
  }
}

@media (max-width: 1000px) {
  #titleContainer > span,
  #titleContainer > span * {
    font-size: 30px;
  }

  #contextMenu {
    position: absolute;
    right: 0;
    top: 108px;
  }

  #expandMenu {
    display: block;
  }
}

.guess > span {
  font-weight: 400;
  font-family: "Luckiest Guy";
  position: relative;
}

.guess {
  outline: none;
}

.guessHolder > div > div:has(.checkGuess) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.guessHolder > div > div > .checkGuess {
  height: 100%;
}

.checkGuess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#guessesMade {
  height: 100%;
}