.upgradeBtn {
    width: 80px;
    height: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: radial-gradient(circle, #00b3ff 0%, #06d6ff 100%);
    border: 3px solid #02598b;
}

.upgradeNum {
    font-size: 40px;
}

.upgradeBtn > .caption {
    font-weight: 600;
    font-family: 'Source Sans 3';
    -webkit-text-stroke: 0;
    top: 105%;
    font-size: 14px;
}