.upgradeBtn {
  width: 80px;
  height: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: radial-gradient(circle, #00b3ff 0%, #06d6ff 100%);
  border: 3px solid #02598b;
}

.upgradeBtn.selected {
  background: radial-gradient(circle, #00b3ff 0%, #06d6ff 100%);
  border: 3px solid #fff9ff;
  box-shadow: 0 0 1.5vh 1vh #fff9ac;
}

.upgradeBtn > .eliminated {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 128px;
  z-index: 2;
  color: rgb(200, 0, 0);
  -webkit-text-stroke: 1px black;
}

.upgradeNum {
  font-size: 40px;
  font-family: "Luckiest Guy";
  color: white;
  font-weight: 400;
  -webkit-text-stroke: 1px black;
}

.upgradeBtn > .caption {
  font-weight: 600;
  font-family: "Source Sans 3";
  -webkit-text-stroke: 0;
  top: 105%;
  font-size: 14px;
}
